<html>
    <head>
        <title>Guessing Game</title>
        <link rel="stylesheet" type="text/css" href="/secret/play.css" />
    </head>
    <body>

    <h1 class="h1">Guessing Game</h1>

    {{#if debug}}
        <p class="p">#{{secretNumber}}#</p>
    {{/if}}

    {{#if invalidGuess}}
        <p class="p">Invalid guess</p>
    {{/if}}

    <ul class="ul">
        {{#each reversedGuesses}}
            <li class="{{this.className}}">{{this.guess}} {{this.result}}</li>
        {{/each}}
    </ul>

    {{#if won}}
        <p class="won">You won!</p>
        <p class="p">{{guessCount}} guesses</p>

        <form method="POST" action="reset" class="form">
            <button type="submit" autofocus class="button">New Game</button>
        </form>
    {{else}}
        <form method="POST" action="guess" class="form">
            <input type="text" name="guess" autofocus class="input">
            <button type="submit" class="button">Guess</button>
        </form>
    {{/if}}

    </body>
</html>