<html>
    <head>
        <title>Guessing Game</title>
    </head>
    <body>

    <h1>Guessing Game</h1>

    {{#if debug}}
        <p>#{{secretNumber}}#</p>
    {{/if}}

    {{#if invalidGuess}}
        <p>Invalid guess</p>
    {{/if}}

    <ul>
        {{#each reversedGuesses}}
            <li>{{this.guess}} {{this.result}}</li>
        {{/each}}
    </ul>

    {{#if won}}
        <p>You won!</p>
        <p>{{guessCount}} guesses</p>

        <form method="POST" action="reset">
            <button type="submit" autofocus>New Game</button>
        </form>
    {{else}}
        <form method="POST" action="guess">
            <input type="text" name="guess" autofocus>
            <button type="submit">Guess</button>
        </form>
    {{/if}}

    </body>
</html>